<div class="page-header">
  <h2>Rental Yield Calculator</h2>
</div>

<div class="hero-unit">
  <h3>Hello!</h3>
   Rental Yield is your annual rental income expressed as a percentage of your property value.<br>
   This calculator can help you to compare yields from different properties in the market.<p />
</div>

<%= render :partial => 'form' %>
